@import 'node_modules/bootstrap/scss/bootstrap';

html,
body {
  height: 100%
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 200;
}

/* shadows */
.box-shadow-bottom:after {
  content:"";
  position:absolute;
  width:100%;
  bottom:1px;
  left:0;
  z-index:-1;
  box-shadow: 0px 0px 8px 2px #000000;
}

.b-edge-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}